---
layout: layouts/base.njk
title: Contacto
---

<section class="markdown">
    <h1>Contacto</h1>

    <p></p>

     <div class="md:w-2/3 mx-auto">
      <form action="https://formspree.io/{{site.email}}" method="POST">
      <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Nombre" type="text" required>
          </div>
          <div class="p-2 w-1/2">
            <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Correo electrónico" type="email" required>
          </div>
          <div class="p-2 w-full">
            <textarea class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none h-48 focus:border-indigo-500 text-base px-4 py-2 resize-none block" placeholder="Tu mensaje" required></textarea>
          </div>
          <div class="p-2 w-full">
            <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Enviar</button>
          </div>
      </div>
      </form>
    </div>
</section>