---
layout: layouts/base.njk
title: Home
description: "Eleventy + Tailwind CSS blog starter"
---

<section class="body-font">
  <div class="container mx-auto flex flex-col py-6 justify-center items-center">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Knausgaard typewriter readymade marfa</h1>
      <p class="mb-8 leading-relaxed">Kickstarter biodiesel roof party wayfarers cold-pressed. Palo santo live-edge tumeric scenester copper mug flexitarian. Prism vice offal plaid everyday carry. Gluten-free chia VHS squid listicle artisan.</p>
      <div class="flex w-full justify-center">
        <input class="border-0 bg-gray-100 rounded mr-4 border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 lg:w-full xl:w-1/2 w-2/4 md:w-full" placeholder="Placeholder" type="text">
        <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
      </div>
      <p class="text-sm mt-2 text-gray-500 mb-8 w-full">Neutra shabby chic ramps, viral fixie.</p>
    </div>
  </div>
</section>

<section class="body-font">
    <h2 class="text-4xl font-bold pb-6">En el blog:</h2>
    <div class="flex flex-wrap -m-4">
    {%- for item in collections.post | reverse -%}
      <div class="p-4 lg:w-1/2">
        <div class="h-full bg-gray-200 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
          <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">{{item.data.category}}</h2>
          <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">{{item.data.title}}</h1>
          <p class="leading-relaxed mb-3">{{item.data.teaser}}</p>
          <a href="{{ item.url }}" class="text-indigo-500 inline-flex items-center hover:underline">Leer más
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <div class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
            <span class="text-gray-600 inline-flex items-center leading-none text-sm">
             <time value="{{ item.date }}" class="text-sm text-gray-500">{{ item.date | htmlDate }}</time>
            </span>
          </div>
        </div>
      </div>
    {%- endfor -%}
    </div>
</section>