---
layout: layouts/base.njk
title: Aviso legal
description: "Aviso legal"
---

<section class="markdown">
    <h2>Aviso legal</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <h2>Datos de contacto</h2>
    <p class="font-semibold">{{ site.author.name }}</p>
    <p>Correo de contacto: {{ site.author.legal_email }}</p>
</section>