---
layout: layouts/base.njk
title: Proyectos
description: "Proyectos"
---

<section class="body-font">
    <h1 class="text-4xl font-bold pb-6">{{ title }}</h1>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-12">
            {%- for item in collections.project | reverse -%}
                <div class="p-12 pt-2 md:w-1/2 flex flex-col items-start">
                    <span class="inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-500 text-sm font-medium tracking-widest">{{item.data.category}}</span>
                    <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">{{item.data.title}}</h2>
                    <p class="leading-relaxed mb-8">{{item.data.teaser}}</p>
                    <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-200 mt-auto w-full">
                        <a href="{{ item.url }}" class="text-indigo-500 inline-flex items-center hover:underline">Leer más
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>